.hero
  padding: 110px 0
  &-wrapper
    max-width: 598px
    margin: auto
  &-search
    margin-bottom: 50px
  &-form
    @include flex
    box-shadow: 3px 11px 13px 2px rgba(47, 49, 48, 0.08)
    border-radius: 12px
    overflow: hidden
    &__input
      width: 100%
      padding: 15px
      border: none
    &__button
      padding: 15px 56px
      background-color: #FFE81F
      color: $black
      border: none
      outline: none
  &-card
    width: 392px
    min-height: 282px
    margin: auto
    background-color: #fff
    box-shadow: 3px 11px 13px 2px rgba(47, 49, 48, 0.08)
    border-radius: 12px
    overflow: hidden
    &__header
      background-color: #2F3130
    &__name
      padding: 15px 30px
      font-family: 'Montserrat', sans-serif
      font-style: normal
      font-weight: 600
      font-size: 30px
      line-height: 37px
      color: $white
